<?xml version="1.0"?>
<launch>
  <arg name="x_pos" default="0.0"/>
  <arg name="y_pos" default="-2.0"/>
  <arg name="z_pos" default="0.0"/>
  <arg name="roll_pos" default="0.0"/>
  <arg name="pitch_pos" default="0.0"/>
  <arg name="yaw_pos" default="1.5708"/>
  <arg name="laser_enabled" default="true"/>
  <arg name="ur5_enabled" default="false"/>
  <arg name="kinect_enabled" default="false"/>

  <param name="robot_description" command="$(find xacro)/xacro.py '$(find husky_gazebo_orchard)/urdf/description.gazebo.xacro'
    laser_enabled:=$(arg laser_enabled)
    ur5_enabled:=$(arg ur5_enabled)
    kinect_enabled:=$(arg kinect_enabled)" />

  <!-- Load Husky control information -->
  <include file="$(find husky_control_orchard)/launch/control.launch"/>

  <!-- Spawn robot in gazebo -->
  <node name="spawn_husky_model" pkg="gazebo_ros" type="spawn_model"
    args="-unpause -urdf -param robot_description -model mobile_base
	-x $(arg x_pos) -y $(arg y_pos) -z $(arg z_pos) 
	-R $(arg roll_pos) -P $(arg pitch_pos) -Y $(arg yaw_pos)"/>
</launch>
