<?xml version="1.0"?>
<model>
  <name>Canopy</name>
  <version>1.0</version>
  <sdf version='1.4'>model.sdf</sdf>

  <author>
   <name>Elynna</name>
   <email>eyan323@aucklanduni.ac.nz</email>
  </author>

  <description>
    Simple model to visualise a canopy with tiled 'leaf' models.
  </description>
</model>
