<?xml version="1.0"?>
<model>
  <name>baseBranch</name>
  <version>1.0</version>
  <sdf version='1.4'>model.sdf</sdf>

  <author>
   <name>Elynna</name>
   <email>eyan323@aucklanduni.ac.nz</email>
  </author>

  <description>
    Simple base branch that connects to tree trunks.
  </description>
</model>
